/* custom properties */
:root {
    --clr-primary-night: #13005A;
    --clr-primary-darkblue: #00337C;
    --clr-primary-blue: #1C82AD;
    --clr-primary-seagreen: #03C988;
    --clr-primary-darkslateblue: #483d8b;
}


/* set default parameters */

* {
    font: inherit;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #fff;

    /* border: 1px solid red; */
}


body {
background-color: #bbb;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav ul { list-style-type: none; }

nav li {
    display: inline;
    margin-right: 2rem;
}

nav a {
    text-decoration: none;
    color: lightgoldenrodyellow;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    font-size: 12px;
}

nav button {
    padding: 0.25rem 1rem;
    background-color: darkslategrey;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 1rem;
}

nav button:hover, 
nav a:hover {
    color: #000;
    background-color: hsl(115, 93%, 59%);
}


/* header and footer defaults */

header, footer {
    background-color: darkslategrey;
    color: lightgoldenrodyellow;
    padding: 0.25em 4em;
}


/* Game sections */

.gameWelcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.gameSection {
    background-color: #000;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 6px #555;
}



/* main - grid area*/

main {
    display: grid;
    grid-template-columns: 25% auto;
    gap: 1em;
    margin: 1.5em 4em;
}

.gameWelcome {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.gameScore {
    grid-row: 2 / span 2;
    grid-column: 1;
}

.gameSelection {
    grid-row: 2;
    grid-column: 2;
}

.gameView {
    grid-row: 3;
    grid-column: 2;
}

.gameHistory {
    grid-row: 4;
    grid-column: 1 / span 2;
}


/* Welcome section */

.gameName span {
    font-size: 2rem;
    font-weight: 600;
}


/* Game Selection section */

.selectionButtons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.selectionButtons button {
    color: #000;
    font-size: 2rem;
    font-weight: 900;
    aspect-ratio: 3/2;
    border: 3px solid #ddd;
    border-radius: 2rem;
    cursor: pointer;
    width: min(30%, 200px);
}

.selectionButtons button:hover {
    background-color: var(--clr-primary-darkslateblue);
}

.btnRock {
    background-color: var(--clr-primary-darkblue);
}

.btnPaper {
    background-color: var(--clr-primary-seagreen);
}

.btnScissors {
    background-color: var(--clr-primary-blue);
}



/* Game View section */




/* Game Score section */

.gameScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.currentScore * {
    font-size: 2rem;
}

#reset {
    background-color: #000;
    padding: 0.5rem 1rem;
    border: #ddd solid 3px;
    border-radius: 2rem;
    margin-left: 1.5rem;
}

#reset:hover {
    background-color: var(--clr-primary-darkslateblue);
}

#playerScore {
    color: green;
}

#computerScore {
    color: red;
}

.playerScore {
    text-decoration: underline green double 2px;
}

.computerScore {
    text-decoration: underline red double 2px;
}





/* Game History section*/




/* attribution */
.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.attribution span { font-size: 11px; }
.attribution a { color: hsl(115, 93%, 59%); }